*.sagetex.*
*.aux
*.dvi
*.log
*.out
*.pdf
*.synctex.gz
*_doctest.sage
*_doctest.sage.py
*.fdb_latexmk
*.fls
*.swp
E2.sobj
auto/
dist/
example.synctex.gz
makecmds.sty
sagetex-extract
sagetex-extract.py
sagetex-makestatic
sagetex-makestatic.py
sagetex-remote
sagetex-remote.py
sagetex-run
sagetex-run.py
sage-plots-for-*.tex/
sagetex.glo
sagetex.gls
sagetex.idx
sagetex.ilg
sagetex.ind
sagetex.py
sagetex.sty
sagetexparse.py
*.pyc
__pycache__
.*.sage-history
.*.sage-chat
MANIFEST
