E2.sobj
auto/
example.aux
example.dvi
example.log
example.out
example.pdf
example.sagetex.sage
example.sagetex.sage.py
example.sagetex.scmd
example.sagetex.sout
example.synctex.gz
example_doctest.sage
extractsagecode.py
makecmds.sty
makestatic.py
remote-sagetex.py
sage-plots-for-example.tex/
sage-plots-for-sagetex.tex/
sagetex.aux
sagetex.dvi
sagetex.glo
sagetex.gls
sagetex.idx
sagetex.ilg
sagetex.ind
sagetex.log
sagetex.out
sagetex.pdf
sagetex.py
sagetex.pyc
sagetex.sagetex.sage
sagetex.sagetex.sage.py
sagetex.sagetex.scmd
sagetex.sagetex.sout
sagetex.sty
sagetex_doctest.sage
sagetexparse.py
.*.sage-history
.*.sage-chat