include example.pdf
include example.tex
include example.sage
include extractsagecode.py
include makestatic.py
include sagetexpackage.dtx
include sagetexpackage.ins
include sagetexpackage.pdf
include sagetexpackage.sage
include sagetexparse.py
include sagetex.sty
include README.spkg
include spkg-install